# Prometheus server files
prometheus-server/prometheus-2.45.0.darwin-arm64/
prometheus-server/data/

# Grafana server files and data
/grafana-server/grafana-v10.4.5/**
grafana-server/data/
grafana-server/logs/

# Downloaded archives
*.tar.gz
*.zip
*.dmg

# macOS specific files
.DS_Store

# Node.js related files (if applicable to your Go project)
node_modules/
npm-debug.log
.env